/*
  Ross Goodliffe
  16441847
*/
body {
  background: rgb(200, 212, 212);
}

header {
  background: rgb(108, 6, 16)
}

footer {
  background-color: rgb(108, 6, 16);
}

a {
  color: inherit;
  transition: all 0.5s ease;
}

a:hover {
  background: rgb(250, 80, 80)
}

form {
  border: solid black 1px;
  border-width: 1px;
  max width: 25em;
  text-align: center;
  font-family: 'Space Mono', monospace;
}

.header-main {
  font-family: 'Space Mono', monospace;
  text-align: left;
  font-size: 4.5em;
  color: rgb(255, 255, 255);
}

.header-text {
  display: block;
  text-align: right;
  font-size: 2em;
  font-family: 'Space Mono', monospace;
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255)
}
.newyork-image {
  display: block;
  margin: 0px auto;
  border-bottom: 5px solid rgb(0, 0, 0);
}


.footer-logos {
  font-family: 'Space Mono', monospace;
  list-style: none;
  color: rgb(255, 255, 255)
}

.body-text {
  display: inline;
  font-family: 'Space Mono', monospace;
}

.body-images {
  list-style: none;
}

.img-circle {
  border-radius: 50%;
  list-style: none;
}

.contact-text {
  font-family: 'Space Mono', monospace;
  font-size: 2em;
  text-align: center;
}


/* if the viewport is bigger than 768px */
