/*
  Ross Goodliffe
  16441847
*/
body {
  background: rgb(212, 212, 212);
}


header {
  background: rgb(108, 6, 16)
}

a {
  color: inherit;
}

a:hover {
  background: rgb(250, 113, 126)
}

.header-text {
  list-style: none;
  text-align: right;
  font-size: 1.5em;
  font-family: 'Space Mono', monospace;
}

.body-images {
  list-style: none;
}

.img-circle {
  border-radius: 50%;
}



/* if the viewport is bigger than 768px */
